/* tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* tailwind.css or index.css */
.shayari-text p {
    margin: 0.5rem 0;
    font-size: 18px;
    line-height: 1.5;
  }
  body {
 background-image: linear-gradient(180deg, #581845, #900C3F, #C70039, #FF5733, #FFC300);
 background-size:200vh 200vh;
 color: white;
  }
  .shayari-container{

  }
  button {
    padding: 12px 30px;
    border: 0;
    margin-top: 10px;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }
  
.input {
    padding: 1rem ;
    border-radius: 2rem;
    display: block;
    width: 40%;
    border: none;
    box-shadow: inset 6px 6px 8px rgba(97, 97, 97, 0.075),
      6px 6px 6px rgba(255, 255, 255, 0.781);
    outline: none;
    background-color: inherit;
    color:white;
    font-size: inherit;
    margin: auto;
  }
  